SECRET_KEY=S@lao5615
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bolsas_db
SCHED_FETCH_INTERVAL=60
ALERT_THRESHOLD_PCT=3.0
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
RENDER_API_KEY=rnd_HQmf8nzz5rG4Ywm2iioL7EhXWaNP